ol{
    font-size: larger;
    font-weight: bold;
}

#Donate{

}


html, body {
    width: 99%;
    height:98%;
  }
  
  body {
      background: linear-gradient(-45deg, #FF6800, #7F00FD, #0055FF, #FF0000);
      background-size: 400% 400%;
      animation: gradient 20s ease infinite;
  }
  
  @keyframes gradient {
      0% {
          background-position: 0% 50%;
      }
      50% {
          background-position: 100% 50%;
      }
      100% {
          background-position: 0% 50%;
      }
  }
  body{
      /*background-image:url(files/background.png);*/
      background-color: #B4AF00;
  }


  @import url('https://fonts.googleapis.com/css?family=Arimo');
.top-menu {
  background: rgba(94, 94, 94, 0.137);
  box-shadow: 3px 0 7px rgba(0,0,0,.3);
  padding: 20px;
}
.top-menu:after {
  content: "";
  display: table;
  clear: both;
}
.navbar-logo {display: inline-block;}
.menu-main {
  list-style: none;
  margin: 0;
  padding: 0;
  float: right;
}
.menu-main li {display: inline-block;}
.menu-main a{
  text-decoration: none;
  display: block;
  position: relative;
  line-height: 61px;
  padding-left: 20px;
  font-size: 18px;
  letter-spacing: 2px;
  font-family: 'Arimo', sans-serif;
  font-weight: bold;
  color: #000000;
  transition:.3s linear;
}
.menu-main a::before {
  content: "";
  width: 9px;
  height: 9px;
  background: #af85fc;
  position: absolute;
  left: 50%;
  transform: rotate(45deg) translateX(6.5px);
  opacity: 0;
  transition: .3s linear;
}
.menu-main a:hover:before {opacity: 1;}
@media (max-width: 660px) {
.menu-main {
  float: none;
  padding-top: 20px;
}
.top-menu {
  text-align: center;
  padding: 20px 0 0 0;
}
.menu-main a {padding: 0 10px;}
.menu-main a:before {transform: rotate(45deg) translateX(-6px);}
}
@media (max-width: 600px) {
.menu-main li {display: block;}
}
#Name{
	font-size: 35px;

}