body{
	background-image:url(files/background.png) ;
}
#About{
	background-color:#A569BD;
	font-size: 25px;
}
#Button{
	background-color:#A569BD;
	background-size:300px;
	text-align: left;
	font-size: 25px;
}