body{
	background-image:url(files/background.png) ;
}
#About{
	background-color: #A569BD;
	font-size: 25px;
}
.button{
	background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    position: absolute;
    right:0px;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;
}